// @variables
//colors
$white: #FFF;

$gray: #7A7A7A;
$light-gray: #979797;
$lighter-gray: #D6D6D6;
$lightest-gray: #F1F1F1;
$dark-gray: #262F34;

$green: #20C687;
$green-neon: #10E795;

$yellow: #F0B33F;

// Breakpoints
$bp-small: 48em; // 768px
$bp-medium: 64em; // 1024px
$bp-large: 75em; // 1200px
$bp-xlarge: 120em; //1920px
$bp-xxlarge: 160em; // 2560px

//heights
$base-font-size: 1em;

$line-height: 1;