@import "../../app/styles/variables";

.total-yield {
    padding: 27px 0 30px;
    h1 + .container-fluid{
        padding-top: 40px;
    }
    @media screen and (min-device-width: $bp-xxlarge) {}
}

h2 {
    font-size: 12px;
    font-weight: 900;
    color: $gray;
    @media screen and (min-device-width: $bp-xlarge){
        font-size: 0.65em;
    }
}

.tags {
    margin: 10px 0 25px;
    &.area{
        > span {
            position: relative;
            &:after {
                content: '2';
                position: absolute;
                top: -0.2em;
                font-size: 0.6em;
            }
        }
    }
}
span {
    font-size: 20px;
    font-weight: 900;
    color: $dark-gray;
    @media screen and (min-device-width: $bp-xlarge){
        font-size: 1em;
    }
    &.weather-txt{
        font-size: 12px;
        @media screen and (min-device-width: $bp-xlarge){
            font-size: 1em;
        }
    }
}

.graph {
    position: relative;
    #overlay-text{
        position:absolute;
        height: 100%;
        right: 0;
        z-index: 1000;
        span {
            display: block;
            position: absolute;
            &:last-of-type{
                padding-top: 1.9em;
                @media screen and (min-device-width:1200px) and (max-device-width: 1919px){
                    padding-top: 3.4em;
                }
            }
            @media screen and (min-device-width: $bp-small) and (max-device-width: $bp-xlarge){
                top: 8.5em;
                //left: 8em;
            }
            @media screen and (min-device-width: $bp-xlarge){
                top: 6.7em;
                //left: 2em;
            }
        }
    }
}




