<div class="total-yield col-lg-12">
  <h1 class="header">total estimated yield</h1>
  <div class="container-fluid">
      <div class="row">
          <div class="col-lg-3">
              <div class="tags area">
                <h2>total orchid area</h2>
                <span>18 ha</span>
              </div>
              <div class="tags">
                  <h2>total yield</h2>
                  <span>{{totalYield / 3 }} T</span>
                </div>
            </div>
            <div class="graph col-lg-9">
              <div class="col-lg-3" id="overlay-text">
                <span class="col-lg-12">25 / ha</span>
                <span class="col-lg-12">{{estimatedAvgField / 3 | number:'2.0-0'}} T / ha</span>
              </div>
              <div [chart]="graph"></div>
              <p class="chart-legend col-md-10 col-xs-12">Each zone represents one hectare</p>
            </div>
      </div>
  </div>
</div>