<div class="orange">
    <h1 class="header">estimated yield by orange size</h1>
    <div class="row">
  
      <div class="col-lg-2 col-xs-12 weight">
        <h2>orange weight</h2>
        <i class="orange"></i>
        <span>200g</span>
      </div>
  
      <div class="col-lg-3 col-xs-12 offering">
        <h2>you can offer</h2>
        <p>336 T</p>
        <span>
          you can sell to
        </span>
        <div>
          <img src="" alt="">
        </div>
      </div>
  
      <div class="col-lg-5 col-xs-12 sales">
        <h2>potential sales</h2>
        <h2>$2, 923, 200 USD</h2>
        <span> at $1.45 USD / 250 orange</span>
      </div>
  
      <div class="col-lg-2 col-xs-12 percentage">
        <h2>% yield</h2>
      </div>
    </div>
  </div>
  