<div class="orange-type">
    <h1 class="header">estimated yield by orange size</h1>
    <div class="container-fluid">
        <div class="type">
          <div class="row">
              
              <div class="col-lg-2 col-xs-12 weight">
                  <h2>orange weight</h2>
                  <div class="tbContainer">
                      <img src="/assets/icon/Naranja.svg"  alt="orange" class="orange-icon">
                      <span>200g</span>
                  </div>
                </div>
            
                <div class="col-lg-3 col-xs-12 offering">
                  <h2>you can offer</h2>
                  <span class="offering-amount-txt">{{smallSizeTotal / 6 }} T</span>
                  <span class="normal-txt">
                    You can sell to
                  </span>
                  <div class="offering-mkt">
                      <img src="../assets/img/SM1 3 Copy.svg" alt="">
                      <img src="../assets/img/SM1 Copy.svg" alt="">
                      <img src="../assets/img/SM1.svg" alt="">
                  </div>
                </div>
            
                <div class="col-lg-3 col-xs-12 sales">
                  <h2>potential sales</h2>
                  <span class="prediction">${{[(smallSizeTotal * 1000) / 0.250] * 0.11}} USD</span>
                  <span class="cost"> at $0.11 USD / 200g orange</span>
                </div>
            
                <div class="col-lg-3 col-xs-12 percentage">
                  <h2>% yield</h2>
                  <div [chart]="smallOrangePieChart"></div>
                </div>
                <div class="col-lg-4 col-xs-12 text-overlay">
                    <span>{{smallPercentage / totalYield | number:'2.0-0'}} % </span>
                    <span class="subtitle">of estimated avg. yield</span>
                </div>
          </div>
        </div>

        <div class="type">
            <div class="row">
                
                <div class="col-lg-2 col-xs-12 weight">
                    <h2>orange weight</h2>
                    <div class="tbContainer">
                        <img src="/assets/icon/Naranja.svg" alt="orange" class="orange-icon big">
                        <span>250g</span>
                    </div>
                  </div>
              
                  <div class="col-lg-3 col-xs-12 offering">
                    <h2>you can offer</h2>
                    <span class="offering-amount-txt">{{bigSizeTotal / 6}} T</span>
                    <span class="normal-txt">
                      You can sell to
                    </span>
                    <div class="offering-market">
                      <img src="../assets/img/SM1 Copy.svg" alt="">
                      <img src="../assets/img/SM1.svg" alt="">
                    </div>
                  </div>
              
                  <div class="col-lg-3 col-xs-12 sales">
                    <h2>potential sales</h2>
                    <span class="prediction">${{[((bigSizeTotal/6) * 1000) / 0.250] * 0.18}} USD</span>
                    <span class="cost"> at $0.18 USD / 250g orange</span>
                  </div>
              
                  <div class="col-lg-3 col-xs-12 percentage">
                    <h2>% yield</h2>
                    <div [chart]="bigOrangePieChart"></div>
                  </div>
                  <div class="col-lg-4 col-xs-12 text-overlay">
                    <span>{{bigPercentage / totalYield | number:'2.0-0'}} %</span>
                    <span class="subtitle">of estimated avg. yield</span>
                  </div>
            </div>
          </div>
          <!--end of temporary code-->
    </div>
  </div>