@import "../app/styles/variables";
img, h1 { 
    display: inline-block;
}
img {
    margin-right: 15px;
}
.app-header {
    background: $dark-gray;
    height: 1.9em;
    padding-left: 30px;
    @media screen and (min-device-width: $bp-xlarge){
        padding-left: 3em;
    }
    h1 {
        color: $green-neon;
        font-weight: 300;
        margin: 0;
        font-size: 25px;
        line-height: 1.9em;
    }
}