@import "../app/styles/variables";

.app-header {
    background: $dark-gray;
    height: 75px;
    padding-left: 30px;
    @media screen and (min-device-width: $bp-xlarge){
        padding-left: 2em;
        height: 4em;
    }
    h1 {
        color: $green-neon;
        font-weight: 300;
        margin: 0;
        line-height: 75px;
        font-size: 30px;
        @media screen and (min-device-width: $bp-xlarge){
            font-size: 2em;
            line-height: 2em;
        }
    }
}