<header class="col-lg-12 app-header">
    <img src="../assets/icon/Naranja.svg" alt="">
    <h1 class="header-title">FARMING AS A SERVICE</h1>
</header>
<div class="container-fluid">
    <main class="main" role="main">
        <div class="row">
            <section class="col-lg-5">
                <app-orange></app-orange>
            </section>
            <section class="col-lg-7 clear-padding-right">
                <article class="top-right">
                    <app-total-yield></app-total-yield>
                </article>
                <article class="bottom-right">
                    <app-orange-type></app-orange-type>
                </article>
            </section>
        </div>
    </main>
</div>
